.shop-detail {
  width: 100%;
  &__image {
    width: 40%;
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }
  &__info {
    width: 55%;
    .shop-detail__breadcrumb {
      ul {
        list-style: none;
        padding: 0;
        height: 100%;
        li {
          margin-right: 4px;
          font-size: 14px;
          &:last-child {
            text-transform: capitalize;
          }
          &:not(:last-child)::after {
            content: "\BB";
            margin-left: 4px;
            color: #187caa;
            height: 100%;
            line-height: 100%;
            font-size: 16px;
          }
          a {
            color: #187caa;
            text-decoration: none;
          }
        }
      }
    }
    .shop-detail__title {
      font-size: 21px;
      color: #464646;
      font-weight: 700;
      overflow: hidden;
      text-transform: capitalize;
    }
    .shop-detail__address {
      font-size: 15px;
    }
    .shop-detail__price {
      p {
        font-size: 16px;
        font-weight: 700;
        color: #0288d1;
      }
    }
    .shop-detail__order {
      .shop-detail__qty {
        gap: 8px;
        margin-bottom: 8px;
        .qty {
          font-size: 20px;
          margin-bottom: 4px;
          max-width: 30px;
          width: 30px;
          text-align: center;
        }
        .counter__btn {
          font-size: 20px;
          cursor: pointer;
          font-weight: 700;
          line-height: 20px;
          width: 22px;
          height: 22px;
          background-color: #ee4d2d;
          padding: 4px;
          color: #fff;
        }
      }
      .shop-detail__bill {
        span {
          margin-right: 12px;
        }
        .shop-detail__total {
          font-size: 16px;
          font-weight: 700;
          color: #0288d1;
          margin-bottom: 12px;
        }
      }
      .shop-detail__btn {
        width: 250px;
        height: 40px;
        border: none;
        outline: none;
        background-color: #ee4d2d;
        color: #fff;
        font-size: 18px;
        border-radius: 40px;
        text-align: center;
        box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
        position: relative;
        overflow: hidden;
        cursor: pointer;
        p{
          margin: 0;
          padding: 4px 8px;
        }
      }
      .check-box {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        right: -40px;
        opacity: 0;
      }

      .check-box svg {
        width: 20px;
        margin: 8px;
      }

      svg path {
        stroke-width: 3;
        stroke: #fff;
        stroke-dasharray: 34;
        stroke-dashoffset: 34;
        stroke-linecap: round;
      }

      .active .check-box {
        right: 0;
        opacity: 1;
        transition: 1s;
      }

      .active p {
        margin-right: 100px;
        transition: 1s;
      }

      .active svg path {
        stroke-dashoffset: 0;
        transition: 1s;
        transition-delay: 1s;
      }
      .active {
        background: #ff2b75;
        transition: 1s;
      }
    }
  }
}
